/* style sheet for index.html */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* font style changes */
body {
  font-weight: 400;
  font-family: 'Lato','Helvetica Neue', 'Arial', sans-serif ;
  font-size: 16px;
  line-height: 1.4;
}

figcaption {
  font-weight: 400;
  font-family: 'Lato','Helvetica Neue', 'Arial', sans-serif ;
  font-size: 10px;
  line-height: 1.4;
}

h1 {
  font-weight: 600;
  font-family: 'Rubik Mono One', 'Helvetica Neue', 'Arial', sans-serif ;
  font-size: 30px;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-family: 'Rubik Mono One', 'Helvetica Neue', 'Arial', sans-serif ;
  font-size: 25px;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-family: 'Rubik Mono One', 'Helvetica Neue', 'Arial', sans-serif ;
  font-size: 16px;
  margin: 0;
}


/* margin, padding and other changes */
h4 {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

.text ul {
  padding: 10px;
}

a {
  text-decoration: underline;
}

figure  {
  margin: 0;
  padding-top: 20px;
}

#introduction figure {
  margin: 0;
}

.text {
  padding: 30px;
  padding-left: 60px;
}

.text li {
  list-style: inside;
}



/* image size changes*/

.mvmnt img {
  max-width: 700px;
}

.bass img {
  max-width: 700px;
}

.mvmnt-exterior img {
  max-width: 500px;
}

.mvmnt-interior img {
  max-height: 333px;
}


.bass-exterior img {
  max-width: 500px;
}

.bass-exterior-close img {
  max-height: 333px;
}

.gnomon-interior img {
  max-height: 333px;
}

.gnomon-exterior img {
  max-width: 500px;
}

/* color changes */
body,
h1,
h2,
h3 {
  color: #371111
}

#introduction,
header,
nav {
  background-color: rgba(240, 240, 240, 0.3);
}

.text ul {
  border: 2px solid rgb(140, 140, 140);
  border-radius: 15px;
}


/* link color changes */
a,
a:link {
  color: #272525;
}

a:visited {
  color: #371111;    
}

a:hover {
  color:rgb(247, 80, 80);
}

a:active {
  color:#b6b6b6;
}


/* box model */
#box {
  max-width: 960px;
  margin: 0 auto;
}

/* css grid */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "navigation"
    "main"
    "copyright";
}

footer {
  display: grid;
  grid-area: copyright;
  place-items: center;
}

main {
  grid-area: main;
}

#introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 0px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: navigation;
}

.navigation header {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation nav {
  place-content: center;
}

#recent {
  padding-top: 20px;
  display: grid;
  place-items: center;
}


#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}